n8n/daily-ai-news-rss.json
{
  "name": "Daily AI RSS News Sync",
  "nodes": [
    {
      "id": "1",
      "name": "Daily 12PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 12,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Read AI RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "3",
      "name": "Push News to Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEWS_INGEST_URL || 'http://localhost:3000/api/news/ingest' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ {\"x-webhook-secret\": $env.N8N_WEBHOOK_SECRET} }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.title, link: $json.link, summary: $json.contentSnippet || $json.content || '', source_name: 'Google News - AI', source_url: 'https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en', published_at: $json.isoDate || $json.pubDate, guid: $json.guid || $json.link, image_url: ($json.enclosure && $json.enclosure.url) ? $json.enclosure.url : null } }}"
      }
    }
  ],
  "connections": {
    "Daily 12PM Trigger": {
      "main": [
        [
          {
            "node": "Read AI RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read AI RSS Feed": {
      "main": [
        [
          {
            "node": "Push News to Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/New_York"
  }
}
