n8n/rss-top3-ai-blog-publisher.json
{
  "name": "RSS Top 3 AI News Summarizer -> AI Tools Directory",
  "nodes": [
    {
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        180,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 12,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Read RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        420,
        260
      ],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "3",
      "name": "Pick Top 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const FEED_URL = 'https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en';\nconst SOURCE_NAME = 'AI RSS Feed';\n\nconst normalized = items\n  .map(({ json }) => {\n    const rawDate = json.isoDate || json.pubDate || json.published_at || new Date().toISOString();\n    const parsedDate = new Date(rawDate);\n    const publishedAt = Number.isNaN(parsedDate.getTime()) ? new Date().toISOString() : parsedDate.toISOString();\n\n    return {\n      guid: json.guid || json.link || json.url || `${json.title || 'article'}-${publishedAt}`,\n      title: json.title || 'Untitled article',\n      url: json.link || json.url,\n      link: json.link || json.url,\n      source_name: SOURCE_NAME,\n      source_url: FEED_URL,\n      contentSnippet: json.contentSnippet || json.content || json.summary || '',\n      content: json.content || json.contentSnippet || '',\n      published_at: publishedAt,\n      image_url: (json.enclosure && json.enclosure.url) ? json.enclosure.url : (json.image_url || null)\n    };\n  })\n  .filter((item) => Boolean(item.url));\n\nnormalized.sort((a, b) => new Date(b.published_at).getTime() - new Date(a.published_at).getTime());\n\nreturn normalized.slice(0, 3).map((article) => ({ json: article }));"
      }
    },
    {
      "id": "4",
      "name": "Summarize with OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        940,
        420
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ { \"Authorization\": \"Bearer REPLACE_WITH_OPENAI_API_KEY\", \"Content-Type\": \"application/json\" } }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are an AI news analyst. Return ONLY valid JSON with keys: summary and analysis. summary: 2-3 sentences, concise and factual. analysis: one short sentence about why this matters for AI users.' }, { role: 'user', content: 'Title: ' + $json.title + '\\nURL: ' + ($json.url || $json.link) + '\\nPublished: ' + ($json.published_at || '') + '\\nSource: ' + ($json.source_name || '') + '\\nContent: ' + ($json.contentSnippet || $json.content || '') } ] } }}",
        "authentication": "none"
      }
    },
    {
      "id": "8",
      "name": "Generate Grok Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        940,
        100
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/images/generations",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ { \"Authorization\": \"Bearer REPLACE_WITH_XAI_API_KEY\", \"Content-Type\": \"application/json\" } }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'grok-2-image', prompt: 'Create a high-quality editorial blog thumbnail for this AI news story. Use no text, no logos, no watermarks. Title: ' + $json.title + '. Summary: ' + ($json.contentSnippet || $json.content || '').slice(0, 800) } }}",
        "authentication": "none"
      }
    },
    {
      "id": "5",
      "name": "Merge Article + AI Text",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1180,
        340
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition"
      }
    },
    {
      "id": "9",
      "name": "Merge with Image",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        260
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition"
      }
    },
    {
      "id": "6",
      "name": "Build Ingest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const configuredBlogTags = ['AI News', 'AI Tools Directory'];\n\nconst itemsForIngest = items.map(({ json }) => {\n  let aiSummary = null;\n  let aiAnalysis = null;\n\n  const content = json.choices?.[0]?.message?.content;\n  if (typeof content === 'string' && content.trim()) {\n    try {\n      const parsed = JSON.parse(content);\n      aiSummary = typeof parsed.summary === 'string' ? parsed.summary.trim() : null;\n      aiAnalysis = typeof parsed.analysis === 'string' ? parsed.analysis.trim() : null;\n    } catch {\n      aiSummary = null;\n      aiAnalysis = null;\n    }\n  }\n\n  const fallback = (json.contentSnippet || json.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  const fallbackSummary = fallback ? (fallback.length > 300 ? `${fallback.slice(0, 297)}...` : fallback) : null;\n  const summary = aiSummary || fallbackSummary;\n  const combinedSummary = aiAnalysis && summary ? `${summary}\\n\\nWhy it matters: ${aiAnalysis}` : summary;\n\n  const grokImageUrl =\n    json.data?.[0]?.url ||\n    json.data?.[0]?.image_url ||\n    json.image_url ||\n    null;\n\n  return {\n    guid: json.guid || json.url || json.link,\n    title: json.title,\n    url: json.url || json.link,\n    summary: combinedSummary,\n    source_name: json.source_name || 'AI RSS Feed',\n    source_url: json.source_url || 'https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en',\n    image_url: grokImageUrl,\n    published_at: json.published_at || new Date().toISOString()\n  };\n});\n\nreturn [{\n  json: {\n    items: itemsForIngest,\n    source_name: 'AI RSS Feed',\n    source_url: 'https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en',\n    sync_to_blog: true,\n    blog_tags: configuredBlogTags\n  }\n}];"
      }
    },
    {
      "id": "7",
      "name": "Publish to AI Tools Directory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/news/ingest",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ { \"x-webhook-secret\": \"REPLACE_WITH_N8N_WEBHOOK_SECRET\" } }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { items: $json.items, source_name: $json.source_name, source_url: $json.source_url, sync_to_blog: $json.sync_to_blog, blog_tags: $json.blog_tags } }}"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS Feed": {
      "main": [
        [
          {
            "node": "Pick Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Top 3": {
      "main": [
        [
          {
            "node": "Merge Article + AI Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize with OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Grok Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with OpenAI": {
      "main": [
        [
          {
            "node": "Merge Article + AI Text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Article + AI Text": {
      "main": [
        [
          {
            "node": "Merge with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Grok Thumbnail": {
      "main": [
        [
          {
            "node": "Merge with Image",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge with Image": {
      "main": [
        [
          {
            "node": "Build Ingest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingest Payload": {
      "main": [
        [
          {
            "node": "Publish to AI Tools Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/New_York"
  }
}
